<li id="course-<%= course.id %>">
  <%= link_to gravatar_for(course.user, size: 50), course.user %>
  <span class="user"><%= link_to course.user.name, course.user %></span>
  <span class="content"><%= course.Description %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(course.created_at) %> ago.
  </span>
</li>