<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "Your Course", root_path, :class=>"navbar-brand" %>
    </div>

      <ul class="nav navbar-nav navbar-right">
           <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Category.all.each do |cat| %>
              <li><%= link_to cat.title , category_path(cat), {style:"color:black;"} %></li>
            <% end %>
            <% if logged_in? %>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Create Category" , new_category_path, {style:"color:black;"} %></li>
            <% end %>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locations <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Location.all.each do |loc| %>
              <li><%= link_to loc.venue , location_path(loc.id), {style:"color:black;"} %></li>
            <% end %>
            <% if logged_in? %>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Create Location" , new_location_path, {style:"color:black;"} %></li>
            <% end %>
          </ul>
        </li>
        
        <% if logged_in? %>
          <li><%= link_to "New Course", new_course_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit Profile", users_path %></li>
              <li><%= link_to "View Profile", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>